{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Sobre {% endblock title %}

{% block body_block %}
<div class="ui grid">
        <div class="six wide centered column">
                <h2 class="ui dividing header">Sobre</h2>

                <img class="ui medium image" width="90" height="100" src="{% static 'images/rango_about.jpg' %}" alt="Picture of Rango" /> <!-- New line -->

                <p> Visitas: {{ visits }}</p>


                <button onClick="alert('You clicked the button using Javascript.');">
                        Click Me - I run Javascript
                </button>
                <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
                <p>This is a example</p>
                <p>This is another example</p>

                <div id="msg">Hello</div>
        </div>
</div>
{% endblock body_block %}