{% extends 'rango/base.html' %}

{% block body_block %}
    <div class="ui grid">
        <div class="six wide centered column">
            <h2 class="ui dividing header">Usuários</h2>

            <div class="ui link list">
                {% for u in users %}
                    <div class="ui item">
                        <a target='_blank' href="{% url 'user_profile' u.username %}" >{{ u.username }} </a> {{ u.first_name }} {{ u.last_name }} </div>
                {%  empty %}
                    <strong>Não existem usuários cadastrados.</strong>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body_block %}