{% extends 'rango/base.html' %}

{% block body_block %}
    <div class="ui grid">
        <div class="six wide centered column">
            <h2 class="ui dividing header">{{ u.first_name}} {{ u.last_name}} {{ u.username }}</h2>

            <h3>{{ u.first_name}} {{ u.last_name}}  {{ u.username }}</h3>
            <p>Email: <a href='mailto:{{ u.email }}' > {{ u.email }}</a></p>

            {% if user_profile %}
                {% if user_profile.website %}
                    <p>Website: <a href="{{ user_profile.website }}" target="_blank">{{ user_profile.website }}</a></p>
                    <br/>
                {% endif %}
                {% if user_profile.picture %}
                    <img class="ui small circular image"  src="{{ user_profile.picture.url }}"  />
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock body_block %}